body {
    /* position: relative; */
    background-color: orangered;
}

img {
    width: 99%;
    height: 99%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

main {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
}

main div {
    width: 49%;
    display: inline-block
}


/* form styling  */

form {
    background-color: white;
}

form input {
    display: block;
}