body {
    /* position: relative; */
    background-color: orangered;
}

img {
    width: 99%;
    height: 99%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

main {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    /* left: 30%; */
}

main div {
    width: 49%;
    display: inline-block
}


/* form styling  */

#trial-text {
    text-align: center;
    background-color: rgb(8, 8, 121);
    padding: 15px;
    color: white;
}

#trial-text span {
    font-weight: bolder;
}

form {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

form input {
    display: block;
    margin: 25px auto 25px auto;
    padding: 15px;
    width: 80%;
}

form input[type="submit"] {
    width: 85% !important;
    background-color: green;
    color: white;
}

form p {
    text-align: center;
}

form p span {
    color: orangered;
}